{% extends 'base.html.twig' %}

{% block body %}


	<div class="container">
		<div class="jumbotron mt-3">
			<h1 class="display-3">Bienvenu sur Rbnb</h1>
			<p class="lead">Nous faison le lien entre les voyages et les proprietaires qui veulent gagner de l'argent qui proposent leur bien en location!</p>
			<hr class="my-4">
			<p>Venez voir nos offres.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Voir les annonces</a>
			</p>
		</div>
		<h3>Nos appartement stars</h3>
		<div class="row mt-5">


			<div class="col-sm-4">
				<div class="card">
					<div class="card-header text-center">
						<p>3 chambre,
							<strong>Prix : 36 euro / nuit</strong>
							<br>
							<small>Pas encore noté</small>
						</p>

					</div>
					<img class="card-img-top" src="http://placehold.it\1001x400" alt="Card image">
					<div class="card-body">
						<h4 class="card-title">Apprement de ouf</h4>
						<p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta vitae doloribus impedit eum voluptatibus</p>
						<a href="#" class="btn btn-primary">See Profile</a>
					</div>
				</div>

			</div>
			<div class="col-sm-4">
				<div class="card">
					<div class="card-header text-center">
						<p>3 chambre,
							<strong>Prix : 36 euro / nuit</strong>
							<br>
							<small>Pas encore noté</small>
						</p>

					</div>
					<img class="card-img-top" src="http://placehold.it\1001x400" alt="Card image">
					<div class="card-body">
						<h4 class="card-title">Apprement de ouf</h4>
						<p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta vitae doloribus impedit eum voluptatibus</p>
						<a href="#" class="btn btn-primary">See Profile</a>
					</div>
				</div>

			</div>
			<div class="col-sm-4">
				<div class="card">
					<div class="card-header text-center">
						<p>3 chambre,
							<strong>Prix : 36 euro / nuit</strong>
							<br>
							<small>Pas encore noté</small>
						</p>

					</div>
					<img class="card-img-top" src="http://placehold.it\1001x400" alt="Card image">
					<div class="card-body">
						<h4 class="card-title">Apprement de ouf</h4>
						<p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta vitae doloribus impedit eum voluptatibus</p>
						<a href="#" class="btn btn-primary">See Profile</a>
					</div>
				</div>

			</div>

		</div>

		<h3 class="mt-5 h3">
			Nos propriètaires star</h3>

		<div class="row my-5">
			<div class="col">
				<div class="card border-secondary">
					<div class="card-header">
						<p>Riad si moh</p>

					</div>
					<div class="card-body">

						<div class="card-text">
							<img class="float-left mr-3" src="http://placehold.it\64x64" alt="">
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, accusamus illo magni voluptatum provident, quasi officiis magnam laborios</p>
						</div>
						<a href="#" class="btn btn-primary">En savoir plus</a>


					</div>

				</div>


			</div>
			<div class="col">
				<div class="card border-secondary">
					<div class="card-header">
						<p>Riad si moh</p>

					</div>
					<div class="card-body">

						<div class="card-text">
							<img class="float-left mr-3" src="http://placehold.it\64x64" alt="">
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, accusamus illo magni voluptatum provident, quasi officiis magnam laborios</p>
						</div>
						<a href="#" class="btn btn-primary">En savoir plus</a>


					</div>

				</div>


			</div>

		</div>


	</div>

{% endblock %}
